<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Example -->
      <package
            uri="http://www.sourcepit.org/osgify/context/0.1"
            class="org.sourcepit.osgify.core.model.context.ContextModelPackage"
            genModel="META-INF/emf/osgify.genmodel"/>
   </extension>
   
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Example -->
      <package
            uri="http://www.sourcepit.org/osgify/java/0.1"
            class="org.sourcepit.osgify.core.model.java.JavaModelPackage"
            genModel="META-INF/emf/osgify.genmodel"/>
   </extension>

</plugin>
